/*body*/
body{
    background: linear-gradient(145deg, #77c040, #14532D, #2b2b2b, #121212);
    background-size: 300% 300%;
    animation: gradientAnimation 20s ease infinite;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #ffffff;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* navbar fijo*/

.navbar-custom {
    /*fondo negro, pero al 60% de opacidad (el 0.6 es la transparencia) */
    background-color: rgba(10, 10, 10, 0.6) !important; 
    
    /*efecto de desenfoque (blur) para lo que está detrás */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    
    /* borde sutil abajo para que el navbar no se pierda */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important; 
}

.nav-custom-link {
    font-size: 0.85rem;
    letter-spacing: 2px;
    font-weight: 500;
    transition: color 0.3s ease;
    color: #77c040;
}
.nav-custom-link:hover {
    color: #77c040 !important;
}
.nav-action {
    color: #77c040;
    font-size: 0.85rem;
    text-decoration: none;
    transition: 0.3s ease;
}
/*iluminacion del logo al pasar el mouse*/
.logo-glow {
    filter: drop-shadow(0 0 10px rgba(136, 186, 99, 0.3));
    transition: 0.4s;
}

.logo-glow:hover {
    filter: drop-shadow(0 0 15px rgba(136, 186, 99, 0.6));
}
/* mantiene el color verde cuando se hace clic o el menú está abierto */
.nav-custom-link:focus,
.nav-custom-link:active,
.nav-item.dropdown .nav-link.show {
    color: #77c040 !important;
}
/*al pasar el mouse por los enlaces y el carrito*/
.nav-custom-link, .nav-action {
    color: #77c040; 
    transition: 0.3s ease;
}
.nav-custom-link:hover, .nav-action:hover {
    color: #96C671 !important; 
    text-shadow: 0 0 8px rgba(136, 186, 99, 0.4);
}

/* Fondo del menú desplegable */
.dropdown-menu {
    background-color: #2b2b2b; /* Gris oscuro */
    border: 1px solid #333; /* Borde sutil */
}

/* Color del texto de las opciones (CDs, Vinilos...) */
.dropdown-item {
    color: #e0e0e0; /* Gris clarito/blanco para que se lea bien */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efecto al pasar el mouse por las opciones */
.dropdown-item:hover, 
.dropdown-item:focus {
    background-color: #77c040; /* Fondo verde al pasar el mouse */
    color: #000000; /* Texto negro para que resalte */
}

/* barra de busqueda */
.search-container {
    display: inline-flex;
    padding: 5px;
    background-color: #201f1f8e;
    color: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    /* animacion del max-width para que se estire al pasar el mouse */
    transition: max-width 0.4s ease, padding 0.4s ease;
    overflow: hidden;
    max-width: 45px; /* inicia como el icono de busqueda*/
}

.search-container:hover {
    max-width: 300px; 
    padding: 5px 15px;
}

.search-input {
    border: none;
    background: transparent;
    outline: none;
    width: 0;
    transition: width 0.4s ease;
    font-size: 0.9rem;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
}

.search-input::placeholder {
    color: #b5b5b5;
}

.search-container:hover .search-input {
    width: 200px; 
    margin-right: 10px;
}

.search-btn {
    background: none;
    border: none;
    color: #77c040;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.search-btn i {
    font-size: 1.2rem;
}

.carousel-item img {
    width: 100%;
    height: 300px;}

/*CARD*/
.container{
    width: 100%;
    max-width: 1100px;
}
.custom-card {
    border-radius: 6px;
    overflow: hidden;
    background: none;
    box-shadow: 0px 1px 10px rgba(168, 190, 159, 0.95);
    cursor: default;
    transition: all 400ms ease;
    position: relative; /* IMPORTANTE */
}

.custom-card:hover {
    box-shadow: 5px 5px 20px rgb(15, 182, 51);
    transform: translateY(-3%);
}

/* Imagen */
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlay centrado */
.overlay-centrado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

/*footer*/
    footer {
    margin-top: 60px;
    padding: 40px 0;
    border-top: 1px solid #ffffff;
    }
    footer i{
        font-size: 1.8rem;
        color: #e4eedc;
        margin-right: 12px;
        transition:all 0.3s ease;
    }
    footer i:hover{
        color: #7aff14;
        transform: scale(1.2);
    }
    .footer-img{
        width: 50px;
        height: 30px;
        object-fit: contain;
        margin: 5px;
        transition: 0.3s ease;
    }
    .footer-img:hover{
        transform: scale(1.1);
    }
    .footer-links a {
    color: #76b276;
    font-size: 14px;
    text-decoration: none !important;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 8px;
    transition: 0.3s ease;
}

.footer-links a:hover {
    color: #77c040;
    transform: translateX(5px);
}
.footer-img {
    display: inline-block;
}

/* CONTACTO */
.contacto{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}
.contacto .input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contacto label {
    color: #77c040;
    font-size: 15px;
    font-weight: 600px;
    margin-bottom: 15px;
}
.contacto input, .contacto textarea {

    padding: 17px 25px;
    border-radius: 20px !important;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 2px solid #77c040;
    color: #000000;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #2b2b2b;
}

.form-text {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.form-text a{
    color: #77c040; /*color del terminos y condiciones*/
    font-size: 15px;
    font-weight: 600px;
    text-decoration: none;
}

/* botones */
/* BOTONES UNIFICADOS */

.btn {
    background-color: #77c040 !important;
    color: #ffffff !important;
    border-radius: 30px;
    border: none;
    transition: all 0.3s ease;
}

/* HOVER (el efecto que querés) */
.btn:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
    box-shadow: 0 0 10px rgba(119, 192, 64, 0.6);
}

/* titulos y secciones */
h1, h2, h3, .card-title, .footer-links h5 {
    font-family: 'Bebas Neue', cursive;
    color: #77c040;
}

/* cuerpo de texto, inputs y formularios */
body, p, label, .search-input, .form-control, .catalog-title {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
}
/* menu y botones*/
.nav-custom-link, .nav-action, .btn, .dropdown-item {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1.5px;
    font-size: 1.1rem; /* Al ser condensada, necesita un poco más de tamaño */
}

/*catalogo de productos*/

.catalog-item {
    text-align: left; /* Todo alineado a la izquierda como en la foto */
    background: transparent; /* Sin fondo blanco/gris */
    border: none;
}

.catalog-img {
    width: 100%;
    aspect-ratio: 1 / 1; /* se fuerza a que todas las fotos sean cuadradas*/
    object-fit: cover;
    background-color: #111; /* por si la imagen tarda en cargar */
    transition: transform 0.3s ease;
}

.catalog-item:hover .catalog-img {
    transform: scale(1.03);
}

.catalog-info {
    padding-top: 10px;
}

.catalog-title {
    font-family: 'Space Grotesk', sans-serif;
    color: #ffffff;
    font-size: 0.95rem;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 0.4rem;
}

.catalog-price {
    font-family: 'Space Grotesk', sans-serif;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500; /* negrita para el precio de contado */
}

.catalog-installments {
    font-family: 'Space Grotesk', sans-serif;
    color: #77c040; 
    font-size: 0.85rem;
    font-weight: 500;
}

.catalog-cart-icon {
    color: #77c040;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
}

.catalog-cart-icon:hover {
    color: #85df41; /* Se ilumina al pasar el mouse */
    transform: scale(1.1);
}

@media(max-width:991px){
    form {
        padding: 50px 30px;
        width: 100%;
    }

    .contacto input, .contacto textarea {
        padding: 15px;
    }

}


/*Quines Somos*/
.quienes-img {
    height: 300px;
    width: 100%;
    filter: brightness(0.45);
}

.titulo-quienes {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 3px 3px 8px black;
}

.texto-quienes {
    max-width: 900px;
    margin: auto;
    text-align: center;
    line-height: 1.8;
    font-size: 1.2rem;
    color: white;
}

.quienes-somos .card{
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
    background-color: #77c040;
    color: rgb(255, 255, 255);
}

.quienes-somos .card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgb(40, 95, 35);
}

/* login y registro */
.cuenta .card-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(52, 53, 52, 0.404);
    backdrop-filter: blur(12px);
    box-shadow: #0a0a0ac5 0px 0px 30px;
    animation: fadeIn 0.6s ease;
}
.cuenta h2{
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 28px;
    margin-bottom: 20px;
    text-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
}
.cuenta .form-label{
    font-weight: 600 ;
    font-size: 15px ;
    color: #77c040;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 6px;
}
.cuenta .input-group-text{
    background: rgba(51, 49, 49, 0.822);
    border: none;
    border-radius: 8px 0 0 8px;
    color: #fff;
    font-size: 18px;
    padding: 8px 14px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cuenta .form-control {
    background: rgb(255, 255, 255) !important;
    border: none;
    color: #2b2b2b;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0 8px 8px 0;
}

/* RESPONSIVE PARA CELULARES CHICOS */
@media (max-width: 350px) {
    /* catalogo de una sola columna */
    .catalogo-row > * {
        width: 100% !important; /* con este le estamos obligando a que cada producto ocupe el 100% del ancho */
    }
    /* achica el logo en celulares chicos */
    .logo-glow {
        width: 150px !important; 
    }
    /* achica la letra de iniciar sesion y crear cuenta */
    .nav-action {
        font-size: 0.70rem; 
    }
    /* evita que la barra de búsqueda se desborde */
    .search-container {
        max-width: 100%; 
        padding: 5px 10px;
    }
        .search-container:hover .search-input {
    width: 150px; /* baja el ancho base */
    max-width: 40vw; /* limita el ancho máximo al 40% del viewport */
    margin-right: 10px;
}
    .navbar-nav {
        gap: 0.5rem !important;  /* ajustamos los espacios del Navbar móvil (Inicio, Productos, Contacto) */
    }
}

@media (max-width: 200px) {
    /* catalogo de una sola columna*/
    .catalogo-row > * {
        width: 100% !important; 
    }
    /* achica el logo un poco más en celulares muy chicos */
    .logo-glow {
        width: 60px !important; 
    }
    /* achica la letra de iniciar sesión y crear cuenta */
    .nav-action {
        font-size: 0.30rem; 
    }
    /* evita que la barra de búsqueda se desborde */
    .search-container {
        max-width: 100%; 
        padding: 5px 8px;
    }
    /* ajustamos los espacios del Navbar móvil (Inicio, Productos, Contacto) */
    .navbar-nav {
        gap: 0.5rem !important; /* Reduce el espacio exagerado entre las opciones del menú */
    }
    .search-container:hover .search-input {
    width: 120px; /* baja el ancho base */
    max-width: 30vw; /* limita el ancho máximo al 30% del viewport */
    margin-right: 10px;
}
/* menu desplegable en celulares muy chicos */
.dropdown-menu {
        min-width: 100% !important;
        font-size: 0.6rem; 
    }

    .dropdown-item {
        white-space: normal; /* Permite que el texto salte de línea si es muy largo */
        padding: 5px;
    }
}